@page
@model KamiYomu.Web.Areas.Settings.Pages.Preferences.IndexModel
@{
}

<div class="d-flex justify-content-between align-items-center m-3">
    <h2 class="h5 mb-0 text-primary">
        <i class="bi bi-columns-gap me-3" aria-hidden="true"></i>
        @I18n.Preferences
    </h2>
</div>

<div class="container mt-5">
    <form method="post"
          asp-area="Settings"
          asp-page="/Preferences/Index"
          hx-post
          hx-page-handler="Preview"
          hx-trigger="keyup changed delay:300ms"
          hx-target="#template-preview"
          hx-swap="innerHTML">

        @Html.AntiForgeryToken()

        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-braces"></i>
            </span>

            <input class="form-control"
                   name="Template"
                   placeholder="{manga_title}/ch.{chapter}/{chapter_title_slug}_p{page}" />
        </div>
    </form>


    <div id="template-preview" class="mt-3">
    @await Html.PartialAsync("_PathTemplatePreview", "")
</div>

</div>


