.manga-page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#readerContainer.grabbing {
    cursor: grabbing !important;
    scroll-behavior: auto !important; 
}

.reader-img {
    pointer-events: none;
}


.reader-shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mainViewer {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    width: 100%;
    overflow: hidden; /* This keeps the footer pinned */
}

#readerContainer {
    cursor: grab; /* Shows the hand icon */
    user-select: none; /* Prevents accidental text highlighting */
    -webkit-user-drag: none; /* Prevents ghost images of the pages while dragging */
}

    #readerContainer.webtoon-mode {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important; /* Forces images to horizontal center */
        padding: 20px 0;
    }
.paged-mode {
    display: flex !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
}
