<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-body">
        </div>
    </div>
</div>

<div class="modal fade" id="sub-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="sub-modal-body">
        </div>
    </div>
</div>