@using KamiYomu.Web.AppOptions
@using KamiYomu.Web.Entities
@using KamiYomu.Web.Infrastructure.Contexts
@using Microsoft.Extensions.Options
@inject DbContext dbContext
@inject IOptionsSnapshot<StartupOptions> startupOptions;

@{
    var userPreference = dbContext.UserPreferences.FindOne(p => true);
    var isFamilySafe = userPreference?.FamilySafeMode ?? startupOptions.Value.FamilyMode;

    var buttonClass = isFamilySafe ? "btn btn-outline-success no-hover" : "btn btn-outline-secondary no-hover";
    var iconClass = isFamilySafe ? "bi-shield-check text-success" : "bi-shield-exclamation text-danger";
}

<button class="@buttonClass d-flex justify-content-center align-items-center px-2 py-1 shadow-sm w-100 position-relative"
        style="border-width: 1px; font-size: 0.75rem; border-radius: 0.3rem;">
    <span class="position-absolute start-0 ps-2">
        <i class="@iconClass fs-6"></i>
    </span>
    <span class="fw-normal">Family Safe</span>
</button>