services:
    kamiyomu.web:
      image: ${DOCKER_REGISTRY-}kamiyomuweb
      build:
        context: .
        dockerfile: KamiYomu.Web/Dockerfile
      volumes:
        - ./AppData/manga:/manga
        - ./AppData/database:/db 
        - ./AppData/agents:/agents 
        - ./AppData/logs:/logs 
      healthcheck:
        test: ["CMD", "curl", "-f", "https://localhost:5001/healthz"]
        interval: 30s
        timeout: 10s
        retries: 3


